#logo {
    max-width: 32px;
    max-height: 32px;
}

main>div.content {
    @media screen and (min-width: 1024px) {
        max-width: 880px;
    }
}

article h1 {
    margin-bottom: 1.5rem;
}

article h2 {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    font-size: 1.625rem;
}

article h3 {
    margin-top: 2rem;
    margin-bottom: 0.75rem;
    font-size: 1.25rem;
}

article h4 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.125rem;
}

article p {
    margin-bottom: 1rem;
}

article ul li {
    margin-bottom: 0.25rem;
}
