{% comment -%}Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE file in the project root for full license information.{% endcomment -%}
<a class="navbar-brand" href="{{_rel}}[%relativeHostingPath%]index.html" onclick="return slcf__handleNavBrandClick(event)">
  <img id="logo" class="svg" src="{{_rel}}{{{_appLogoPath}}}{{^_appLogoPath}}[%relativeHostingPath%]logo.png{{/_appLogoPath}}" alt="{{_appName}}" >
  <span class="navbar-title">[%siteTitle%]</span>
</a>
<script>
function slcf__handleNavBrandClick(e) {
  if (e.altKey && window.history.length > 1) {
    e.preventDefault();
    history.back();
    return false;
  }
  return true;
}
</script>