{{!Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE file in the project root for full license information.}}
{{!include(/^styles/.*/)}}
{{!include(/^fonts/.*/)}}
{{!include(favicon.ico)}}
{{!include(logo.png)}}
{{!include(search-stopwords.json)}}
<!DOCTYPE html>
<!--[if IE]><![endif]-->
<html>
  {{>partials/head}}
  <body data-spy="scroll" data-target="#affix" data-offset="120">
    <script>
      function display() {
        var articles = document.querySelectorAll('article.hideonload');
        if(articles && articles.length) {
          for(var i = 0; i < articles.length; i++) {
            if(articles[i].classList.contains('hideonload')) {
              articles[i].classList.remove('hideonload');
            }
          }
        }
      }
      setTimeout(display, 80);
    </script>
    <div id="wrapper">
      <header>
        {{^_disableNavbar}}
        {{>partials/navbar}}
        {{/_disableNavbar}}
        {{^_disableBreadcrumb}}
        {{>partials/breadcrumb}}
        {{/_disableBreadcrumb}}
      </header>
      <div class="container body-content">
        {{>partials/searchResults}}
      </div>
      <div role="main" class="container body-content hide-when-search">

      {{>partials/toc}}

      <div class="article-row-container">
        <div class="article row grid-right">
        <div class="article row grid">
          {{#_disableAffix}}
          <div class="col-md-12">
          {{/_disableAffix}}
          {{^_disableAffix}}
          <div class="col-md-10">
          {{/_disableAffix}}
            <article class="content wrap hideonload" id="_content" data-uid="{{uid}}">
                {{!body}}
            </article>
          </div>
          {{^_disableAffix}}
          {{>partials/affix}}
          {{/_disableAffix}}
        </div>
        </div>
      </div>
      {{^_disableFooter}}
      {{>partials/footer}}
      {{/_disableFooter}}
    </div>
    {{>partials/scripts}}
  </body>
</html>
