:root {
  --red: #cf222e;
  --purple: #8250df;
  --grey: #6e7781;
  --green: #0aa336;
  --dark-blue: #0a3069;
  --black: #24292f;
  --yellow: #fff8c5;
  --font-code: monospace;
  --font-text: "Segoe UI", Tahoma, Helvetica, sans-serif;

  --pink: #b84d8c;
  --brown: #b88d4d;
  --blue: #5c94c4;
  --great-new-color: #374151;

  --light-black: #414141;
}

* {
  font-family: var(--font-text);
  color: var(--black);
  line-height: 140%;
  font-size: 14px;
}

/* HIDE DEFAULT COMPONENTS */
div.sideaffix,
div.inheritance,
h1.h1-class-header,
h3#classes,
h3#enums,
h3#interfaces,
div.implements,
h3#implements,
div.implements-content,
.overrides,
.overrides-content,
h5.fieldValue,
.fieldValue-table,
h5.propertyValue,
h3#methods,
.propertyValue-table,
.class-header-tmpl-partial-typeParameters,
.inheritedMembers,
h3#extensionmethods,
div.extensionmethods-content,
h1#projectdisplayname,
h3#constructors,
h3#properties,
h3#fields {
  visibility: hidden;
  height: 0;
  display: none;
  position: absolute;
}
/* HIDE CUSTOM ELEMENTS DUE TO UNWANTED TEXT */
.custom-menu-data > h5 > span.custom-class-arguments {
  visibility: hidden;
  height: 0;
  display: none;
  position: absolute;
}

/* OVERRIDE ARTICLE LAYOUT */
#wrapper > div.container.body-content {
  padding: 0;
  width: 100%;
  max-width: 1920px;
  padding: 0;
  margin: 0 auto;
}

/* TOP LOGO BAR */

#wrapper > header div.container {
  width: 100%;
  max-width: 1920px;
}

.navbar-brand {
  display: inline-flex;
}
.navbar-brand > span {
  white-space: nowrap;
  margin-top: 10px;
}

.navbar-header > .navbar-title {
  color: var(--black);
  position: relative;
  top: 12px;
}

#wrapper > header .navbar-inverse {
  color: var(--black);
  background-color: white;
}

@media (max-width: 768px) {
  .navbar-header {
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  div.navbar-header button.navbar-toggle {
    visibility: hidden;
    display: none;
  }
}

#wrapper > header span.navbar-title {
  font-size: 20px;
  padding-left: 14px;
}

#wrapper > header > .navbar.ng-scope {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  border: 0;
}

/* DOCUMENTATION AREA CONTAINER */
article.content {
  margin-top: 2.5em;
}
@media (max-width: 580px) {
  article.content {
    margin-top: 8px;
  }
}

.article-row-container.article-row-container--index {
  margin: 0 auto !important;
  width: fit-content;
  @media (min-width: 1200px) {
    max-width: 60%;
  }
}

@media screen and (max-width: 580px) {
  .article-row-container--index {
    padding-left: 8px;
    paddnig-right: 8px;
  }
}

@media (max-width: 580px) {
  .article-row-container.article-row-container--index .col-md-10 {
    padding: 0 !important;
    margin: 0 !important;
  }
}

.sidenav.hide-when-search.sidenav--index {
  display: none !important;
  visibility: hidden !important;
}

@media (min-width: 1380px) {
  div.article-row-container {
    margin-left: 400px;
  }
}
@media (max-width: 1379px) {
  div.article-row-container {
    margin-left: 290px;
  }
}
@media (max-width: 768px) {
  div.article-row-container {
    margin-left: 0px;
  }
}

div.article-row-container {
}
div.article-row-container div.article {
  margin-top: 90px;
}

/* DOCUMENTATION AREA */
#wrapper div.col-md-10 {
  width: 100%;
  max-width: 1240px;
  padding: 3em;
  padding-top: 1em;
}

@media (max-width: 580px) {
  #wrapper div.col-md-10 {
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 0;
  }
}

/* LEFT NAVIGATION */
@media (min-width: 1380px) {
  body > div#wrapper div.container.hide-when-search,
  body > div#wrapper div.container.body-content {
    width: 100%;
    max-width: 1920px;
  }
}

body > div#wrapper div.container.hide-when-search,
body > div#wrapper div.container.body-content {
  margin: 0 auto;
}

.navigation-list-item {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 2px;
  padding-right: 2px;
}

@media screen and (max-width: 520px) {
  .navigation-list-item .index-navigation-item {
    font-size: 14px !important;
    word-break: break-all;
  }
}

/* BREAD CRUMBS */
body > div#wrapper div.container.hide-when-search > ul {
  @media (min-width: 1380px) {
    margin-left: 420px;
  }
}

.breadcrumb a,
.breadcrumb a:visited {
  font-family: var(--font-text);
  color: white;
  line-height: 140%;
}

div#breadcrumb {
  background-color: var(--light-black);
}
header > div.subnav.navbar.navbar-default {
  background-color: var(--light-black);
}

.breadcrumb a:hover,
.breadcrumb a:focus {
  border-bottom: 1px solid var(--pink);
}

.row {
  margin-left: 0;
  margin-right: 0;
}

/* LEFT SIDE NAMESPACES AND CLASSES */
@media (min-width: 1380px) {
  div.sidenav > div.sidetoggle > #sidetoc > div > div.sidefilter,
  div.sidenav > div.sidetoggle > #sidetoc > div > div.sidetoc {
    width: 400px;
  }
}

@media (min-width: 580px) {
  div#sidetoc div.sidefilter {
    margin-top: 1em;
  }
}

@media (max-width: 580px) {
  div.sidetoc.shiftup > div.toc {
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {
  div.sidenav > div.sidetoggle > #sidetoc > div ul.nav {
    margin-left: 8px;
    text-align: left;
  }
}
@media (max-width: 768px) {
  div#wrapper > .container.body-content > div.sidenav.hide-when-search {
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
}

div.sidenav > div.sidetoggle > #sidetoc div.sidefilter,
div.sidenav > div.sidetoggle > #sidetoc div.sidetoc,
div.sidenav > div.sidetoggle > #sidetoc div.sidetoc > .toc {
  background-color: #fafafa;
}
div.sidenav > div.sidetoggle > #sidetoc div.sidefilter a,
div.sidenav > div.sidetoggle > #sidetoc div.sidetoc a,
div.sidenav
  > div.sidetoggle
  > #sidetoc
  div.sidetoc
  > .toc
  a
  div.sidenav
  > div.sidetoggle
  > #sidetoc
  div.sidefilter
  a:visited,
div.sidenav > div.sidetoggle > #sidetoc div.sidetoc a:visited,
div.sidenav > div.sidetoggle > #sidetoc div.sidetoc > .toc a:visited {
  color: var(--black);
  font-size: 14.25px;
}
.toc .nav > li > .expand-stub::before,
.toc .nav > li.active > .expand-stub::before {
  font-size: 17px;
}

div.sidenav > div.sidetoggle > #sidetoc div.sidefilter a:hover,
div.sidenav > div.sidetoggle > #sidetoc div.sidetoc a:hover,
div.sidenav > div.sidetoggle > #sidetoc div.sidetoc > .toc a:hover {
  border-bottom: 1px solid var(--pink);
}

div.sidenav > div.sidetoggle > #sidetoc div.sidetoc > .toc ul.nav.level2 a {
  font-size: 14px;
}

img#logo {
  width: 100%;
  height: 100%;
  max-width: 72px;
  max-height: 56px;
}

/* FOOTER */
#page-footer > .footer {
  background: #f0f0f0;
  overflow: hidden;
  max-width: 1920px;
}

#page-footer > .footer a,
#page-footer > .footer a:active,
#page-footer > .footer a:visited {
  font-weight: 600;
  color: var(--black);
  line-height: 140%;
  font-family: var(--font-text);
}

#page-footer > .footer span {
  color: var(--black);
}

#page-footer > .footer a:hover,
#page-footer > .footer a:focus {
  border-bottom: 1px solid var(--pink);
}

#page-footer > .grad-bottom {
  display: none;
  visibility: hidden;
}

#page-footer > .footer {
  overflow: hidden;
  padding: 0;
  padding: 10px;
  margin: 0 auto;
  background: rgb(231, 231, 231);
}

#page-footer > .footer > .container {
  width: auto;
}

/* DOCUMENTATION AREA ELEMENTS STYLING */
.content.wrap > h1 {
  margin-bottom: 16px;
}

article.content h4:not([class]) * {
  color: var(--purple);
}

article.content > section > p:not([class]) {
  color: var(--grey);
  margin-bottom: 8px;
}

article.content > section:not([class]) {
  margin-bottom: 2em;
}

.content > h6 > a.xref {
  color: var(--dark-blue);
  font-size: 16px;
}
.content > h6 > a.xref:hover {
  border-bottom: 1px solid var(--grey);
}

/* ANCHOR LINK SHORTCUT ON LEFT */
div.custom-menu-data a.anchorjs-link {
  margin-left: -18px !important;
  top: -2px !important;
  font-size: 18px !important;
}

/* VIEW EXAMPLE OF CLASS/ENUM BUTTON ON RIGHT */
div.custom-menu-data.custom-menu-data-first > h5 > span.custom-class-example {
  cursor: pointer;
  position: absolute;
  top: -58px;
  float: right;
  right: 0;
}

/* VIEW SOURCE LINK ON RIGHT */
div.custom-source-code-link-container span.pull-right.mobile-hide > a {
  text-decoration: underline;
  z-index: 98;
  position: absolute;
  font-size: 14px;
  border: 0;
  margin-top: -19px;
  right: 8px;
  color: var(--purple);
  cursor: pointer;
  user-select: none;
}

div.custom-source-code-link-container span.pull-right.mobile-hide > a:hover {
  text-decoration-color: var(--grey);
}

/* CODE EDITOR */
.codewrapper .lang-csharp.hljs {
  white-space: pre-wrap !important;
  word-break: break-word !important;
}

/* HIDE ELEMENTS LOADING */
.hideonload {
  visibility: hidden;
}

/* RIGHTGRID REMOVAL */
div.article.row.grid-right {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  div.article.row.grid-right {
    margin-top: 8px !important;
  }
  .article.row.grid {
    margin-top: 8px !important;
  }
}

div.custom-menu-summary-data > .markdown.level1.summary.member-summary > p {
  line-height: 1.1;
  font-size: 13px;
  padding-left: 0.6em;
  padding-right: 0.6em;
  margin-top: 0;
  margin-bottom: 2px;
}

.markdown.level0.summary,
.markdown.level1.summary,
.markdown.level2.summary,
.markdown.level3.summary,
.markdown.level4.summary {
  color: var(--grey);
  margin: 0;
  padding: 0;
}

.markdown.level0.summary *,
.markdown.level1.summary *,
.markdown.level2.summary *,
.markdown.level3.summary *,
.markdown.level4.summary * {
  color: var(--grey);
}

h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 4px;
  margin-bottom: 2px;
}
article h4 {
  margin-top: 4px;
}
article > h4 > a.xref.text-break {
  font-size: 18px;
  text-decoration: underline;
}

/*.h1-class-codewrapper span[data-text="public"],
.h1-class-codewrapper span[data-text="private"] {
  display: none;
  height: 0;
}*/

/*span[data-text="private"] {
  display: none;
  height: 0;
  visibility: hidden;
}*/

/*span[data-text="public"] {
  display: none;
  height: 0;
  visibility: hidden;
}*/

/*span[data-text="T"] {
  visibility: hidden !important;
  display: none;
  height: 0;
}*/

/* CUSTOM - OWN IMPLEMENTED CSS CLASSES*/

/* CLASS COMMENT SUMMARY AT TOP */
div.h1-class-summary-container {
  margin-top: 1em;
  margin-bottom: 0;
  padding: 0;
}

div.summary.h1-class-summary * {
  margin-bottom: 1em;
  color: var(--green) !important;
  font-family: var(--font-text);

  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
}

.markdown.level0.summary.h1-class-summary ul li,
.markdown.level0.summary.h1-class-summary
  ol
  li
  .markdown.level0.summary.h1-class-summary
  ul
  li
  *,
.markdown.level0.summary.h1-class-summary ol li * {
  margin-bottom: 3px !important;
}

.h1-class-summary-container > .markdown.level0.summary.h1-class-summary > p,
.h1-class-summary-container > .markdown.level0.summary.h1-class-summary > ul {
  position: relative;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  margin-bottom: 2px;
}
.h1-class-summary-container
  > .markdown.level0.summary.h1-class-summary
  ul
  > li {
  font-size: 14px;
}

.markdown.level0.summary.h1-class-summary > ul > li > p {
  padding-left: 0px !important;
}
/* The bottom paragraph in the summary, most likely */
.markdown.level0.summary.h1-class-summary {
  margin-bottom: 8px;
  color: var(--green) !important;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
}

/* Not using these 'comments' in front of a 'summary comment' */
/* .h1-class-summary-container
  > .markdown.level0.summary.h1-class-summary
  > p:before,
.h1-class-summary-container
  > .markdown.level0.summary.h1-class-summary
  > ul:before {
  content: "//\a//\a//\a//\a//\a//\a//\a//\a//\a//\a//\a//\a//\a//\a//\a//\a//\a//\a//\a//\a//\a//\a//\a//\a//\a//\a//\a//\a//\a//\a//\a//\a//\a//\a//\a//\a//\a//\a//\a//\a//\a//\a//\a//\a//\a//\a";
  white-space: pre;
  position: absolute;
  left: 0;
  font-size: 15px;
  line-height: 24px;
  top: -2px;
} */

.h1-class-summary-container
  > .markdown.level0.summary.h1-class-summary
  ul
  > li {
  margin-left: 30px;
}

.custom-menu-data.custom-menu-data-first > .custom-menu-data-container {
  padding-bottom: 12px;
}

/* CLASS/ENUM NAME */
h1.h1-custom-display {
  margin-top: 0;
  font-size: 18px;
}
h1.h1-custom-display span.class-generic {
  font-size: 20px;
  margin-left: 2px;
  font-family: var(--font-code);
  font-weight: 600;
}
h1.h1-custom-display {
  color: var(--red);
  font-size: 16px;
  font-family: var(--font-code);
  font-weight: 600;
}
h1.h1-custom-display > * {
  color: var(--red);
  font-size: 16px;
  font-family: var(--font-code);
  font-weight: 600;
}

h1.h1-custom-display > .classNameHeading {
  font-size: 20px;
  color: var(--purple);
  font-family: var(--font-code);
  font-weight: 600;
  word-break: break-all;
}
@media screen and (max-width: 480px) {
  span.navbar-title {
    overflow: hidden;
    word-break: unset;
    white-space: break-spaces;
    margin: 0;
  }

  h1.h1-custom-display > .classNameHeading {
    font-size: 18px;
  }

  div.custom-menu-data.custom-menu-data-first > h5 > span.custom-class-example {
    top: -40px;
  }
}

p.classMargin {
  color: var(--grey);
  font-size: 16px !important;
}

p.classMargin--end {
  margin-top: -14px;
  margin-left: -36px;
}
p.classMargin--end-enum {
  margin-top: 0px;
}

/* CLASS CONTENT CONTAINER -  ALL METHODS, PROPERTIES AND MORE... */
div.custom-class-content-inline {
  padding-left: 38px;
}
@media screen and (max-width: 768px) {
  .custom-class-content-inline {
    padding-left: 14px;
  }
}

/* MODAL: CUSTOM MENU DATA */
.custom-menu-data > div.custom-menu-data-container {
  padding-bottom: 3em !important;
}

div.custom-menu-data-first {
  margin: 0 !important;
  padding: 0 !important;
  margin-top: -12px !important;
}

div.custom-menu-data-first ~ .custom-menu-data {
  padding: 0;
  margin: 0;
}

div.custom-menu-data {
  width: 100%;
  position: relative;
  margin: 0;
  margin-bottom: 28px;
  margin-top: -2px;
}

.custom-menu-data > h4.h4-custom-functionName.non-function-element {
  font-size: 14px;
}

.custom-menu-data > h4.h4-custom-functionName.non-function-element.name {
  color: var(--dark-blue);
}

.custom-menu-data > h4.h4-custom-functionName.non-function-element.field-name {
  color: var(--dark-blue);
}

div.custom-menu-summary-data {
  margin: 0;
  position: relative;
  z-index: 99;
}

div.custom-menu-summary-data * {
  font-weight: 400;
  font-family: var(--font-text);
  font-size: 15px;
}

.custom-menu-data-container {
  position: absolute;
  width: 100%;
}

.sidetoc.shiftup {
  bottom: unset;
  height: 100%;
  background-color: #fafafa;
}

.custom-menu-data-container--example {
  margin-top: -2em;
}

.custom-menu-data-class-example.active {
  box-shadow: 0px 8px 16px 6px #e1e1e1;
  z-index: 1;
  position: relative;
  padding: 24px;
  background: white;
  margin-left: 0%;
  width: 100%;
  z-index: 100;
}

.custom-menu-data-property-name.active,
.custom-menu-data-name.active,
.custom-menu-data-arguments.active,
.custom-menu-data-returntype.active {
  box-shadow: 0px 8px 16px 6px #e1e1e1;
  z-index: 1;
  position: relative;
  padding: 30px;
  background: white;
  margin-left: -4%;
  width: 104%;
  z-index: 100;
}

@media screen and (max-width: 768px) {
  .custom-menu-data-property-name.active,
  .custom-menu-data-name.active,
  .custom-menu-data-arguments.active,
  .custom-menu-data-returntype.active {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.custom-keywords {
  color: var(--red);
}

.div.custom-menu-data > h4.h4-custom-functionName {
  user-select: none;
  line-height: 1.2 !important;
}

div.custom-menu-summary-data:hover,
div.custom-menu-data > h4:hover {
  background: var(--yellow);
}

.custom-arguments-onclick,
.custom-arguments-onclick > *,
.custom-returntype-onclick,
.custom-returntype-onclick > * {
  color: var(--red);
}

.custom-class-example {
  font-size: 14px;
  color: var(--purple);
  cursor: pointer;
  user-select: none;
  text-decoration: underline;
}

.docfxhide-attribute {
  display: none !important;
  visibility: hidden !important;
}

.viewsource-hide-link {
  display: none !important;
  visibility: hidden !important;
}

.custom-class-example:hover,
.custom-name-onclick:hover {
  text-decoration-color: var(--grey);
}

.custom-menu-data-no-text {
  color: var(--dark-blue);
  font-size: 14px;
  text-decoration: none !important;
  font-family: var(--font-code) !important;
  font-weight: 600 !important;
}

.custom-menu-data-no-text:hover {
  border: 0 !important;
  cursor: text;
}

.custom-returntype,
.custom-returntype *,
.custom-keywords,
.custom-keywords * {
  color: var(--red);
  font-family: var(--font-code);
  font-weight: 600;
}

.custom-keywords,
.custom-returntype {
  padding-right: 2px;
}

.custom-name {
  font-weight: 600;
  color: var(--purple);
  font-family: var(--font-code);
}

.custom-name-onclick {
  text-decoration: underline;
  user-select: none;
  cursor: pointer;
}

.custom-property-name-onclick {
  cursor: pointer;
  user-select: none;
}

.property-name-text {
  text-decoration: underline;
  font-size: 15px;
  color: var(--purple);
  font-family: var(--font-code);
}

.custom-property-name-onclick.custom-menu-data-no-text {
  cursor: default !important;
  user-select: unset !important;
  text-decoration: none !important;
}

.syslib-tab-menu-data--close {
  margin-top: -32px;
  cursor: pointer;
  position: absolute;
  z-index: 101;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  width: 38px;
  font-size: 18px;
  font-family: cursive;
  font-style: normal;
}

/* CUSTOMIZE CODE HIGHLIGHT */
.codewrapper .hljs-keyword {
  color: var(--red);
}

.codewrapper .hljs-comment {
  color: var(--green);
  font-weight: 400;
  font-family: var(--font-code);
}

div.col-md-10 > article.content.wrap > ol:not([class]) {
  list-style: none;
}
div.col-md-10 > article.content.wrap > ol > li {
  margin-top: 2px;
  margin-bottom: 2px;
}

div.col-md-10 > article.content.wrap > ol > li:hover {
  background: var(--yellow);
}

div.col-md-10 > article.content.wrap > ol > li > a {
  color: var(--purple);
  font-size: 16px;
  line-height: 18px;
}

div.col-md-10
  > article.content.wrap
  > ol
  > li.index-navigation-item--namespace {
  margin-top: 20px;
}

div.col-md-10
  > article.content.wrap
  > ol
  > li.index-navigation-item--namespace
  * {
  color: var(--black) !important;
  font-size: 18px;
  font-weight: 600;
}

div.col-md-10 > article.content.wrap > ol.navigation-list-item a,
div.col-md-10 > article.content.wrap > ol.navigation-list-item a:visited {
  color: var(--black);
}
div.col-md-10 > article.content.wrap > ol.navigation-list-item a:hover,
div.col-md-10 > article.content.wrap > ol.navigation-list-item a:focus {
  border-bottom: 1px solid var(--pink);
  background: white !important;
}
div.col-md-10 > article.content.wrap > ol.navigation-list-item li:hover,
div.col-md-10 > article.content.wrap > ol.navigation-list-item li:focus {
  background: white !important;
}

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

pre,
code {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

pre {
  padding: 0.5rem;
  line-height: 1.25;
  overflow-x: auto;
  margin-top: 1em;
  margin-bottom: 2em;
}

a,
a:visited {
  color: #3498db;
}

a:hover,
a:focus,
a:active {
  color: #2980b9;
}

.modest-no-decoration {
  text-decoration: none;
}

html {
  font-size: 12px;
}

@media screen and (min-width: 32rem) and (max-width: 48rem) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 48rem) {
  html {
    font-size: 16px;
  }
}

body {
  line-height: 1.85;
}

p,
.modest-p {
  font-size: 1rem;
  margin-bottom: 1.3rem;
}

h1,
.modest-h1,
h2,
.modest-h2,
h3,
.modest-h3,
h4,
.modest-h4 {
  margin: 1.414rem 0 0.5rem;
  font-weight: inherit;
  line-height: 1.42;
}

h1,
.modest-h1 {
  margin-top: 0;
  font-size: 50px;
}

h2,
.modest-h2 {
  font-size: 32px;
}

h3,
.modest-h3 {
  font-size: 24px;
}

h4,
.modest-h4 {
  font-size: 20px;
}

h5,
.modest-h5 {
  font-size: 18px;
}

h6,
.modest-h6 {
  font-size: 14px;
}

small,
.modest-small {
  font-size: 13px;
}

section > ul > li,
section > ul > li > ul > li,
section > ul > li > ul > li > ul > li,
section > ul > li > ul > li > ul > li > ul > li {
  color: var(--grey);
}

section > p > em {
  font-size: 16px;
  color: var(--grey);
}

/* https://github.com/mrmrs/fluidity */

img,
canvas,
iframe,
video,
svg,
select,
textarea {
  max-width: 100%;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);

@import url(http://fonts.googleapis.com/css?family=Arimo:700,700italic);

@media (min-width: 768px) {
  .custom-class-content-inline > .custom-container {
    margin-right: 2.75em;
  }
}
#toc.toc {
  overflow: hidden;
}

.custom-source-code-link-container--enum {
  position: relative;
  top: -2em;
  left: 1.75em;
}

.custom-source-code-link-container--class {
  position: relative;
  top: 0;
  left: auto;
  right: -82px;
}

div.codewrapper > p,
div.codewrapper > .modest-p,
div.codewrapper > ul > li > p,
div.codewrapper > ul > li > p.modest-p {
  font-size: 14px !important;
  line-height: 1.4 !important;
  margin-bottom: 10px !important;
}

.custom-class-content-inline
  > .table-responsive
  > table.table
  > tbody
  > tr
  > td
  > p {
  font-size: 13.5px;
}

article.content.wrap > h1.text-break {
  font-size: 42px;
}
.custom-remarks {
  position: absolute;
  margin-top: 1.25em;
  float: right;
  right: 0;
  margin-right: 8px;
  @media screen and (max-width: 767px) {
    margin-right: 8px !important;
  }
}

.custom-remarks.text,
.custom-remarks.text p,
.custom-remarks.text h5,
.custom-remarks.text ul li,
.custom-remarks.text ol li,
.custom-remarks.text li p,
.custom-remarks.text li span {
  font-weight: 500;
  color: #313131 !important;
  font-weight: 500 !important;
  line-height: 1.6 !important;
  font-size: 13px !important;
  font-style: italic !important;
}

.custom-remarks h5 {
  cursor: pointer;
  text-decoration: underline;
  user-select: none;
  float: right;
  font-size: 13px;
  color: #313131 !important;
}

.custom-remarks3,
.custom-remarks4,
.custom-remarks5 {
  display: none !important;
  position: absolute !important;
  top: 0 !important;
  margin-left: -4000px !important;
}

.custom-remarks.text {
  visibility: hidden;
  display: none;
}

.content.wrap div .custom-remarks.text.visible {
  visibility: visible !important;
  box-shadow: 0px 3px 12px 3px #b7b7b7;
  display: block;
  max-width: 91%;
  padding: 1em;
  background: #f8f8f8;
  z-index: 1001;
  position: absolute;
  min-width: 375px;
  border-radius: 4px;
  left: 0;
  margin-left: 80px;
  margin-top: 3em;
}

.custom-remarks-containter {
  position: relative;
  width: 100%;
}

.custom-remarks-menu-data--close {
  cursor: pointer;
  position: absolute;
  z-index: 101;
  width: 24px;
  height: 24px;
  font-size: 18px;
  width: 24px;
  height: 24px;
  z-index: 9999;
  text-align: center;
  right: 0;
  z-index: 9999;
  user-select: none;
  border: 0;
  margin: 0;
  padding: 0;
  top: 0;
  font-family: cursive;
  font-style: normal;
}
.markdown.remarks {
  font-size: 13px;
  font-weight: 500;
}

.custom-remarks .markdown.level1.remarks li {
  list-style: none;
  padding-left: 0;
}
.custom-remarks .markdown.level1.remarks ul {
  list-style: none;
  padding-left: 0;
}

.custom-source-code-link-container--hidden {
  display: none;
}

/* Bug: DocFx sometimes exposes public extension methods as part of the class itself, they seem to be getting div without a class */
div.custom-class-content-inline > div:not([class]) {
  display: none;
}

.field-static-colored {
  color: var(--red);
}

.namespace-summary-per-class {
  margin: 0;
  padding: 1em;
  padding-bottom: 1.25em;
  margin-bottom: 1.5em;
  line-height: 1.2;
  font-size: 14px;
  color: var(--green) !important;
  background-color: #f2f2f2;
  border: 0;
  border-radius: 4px;
}

.namespace-summary-per-class:empty {
  padding: 0;
  margin-bottom: 2.25em;
}

.namespace-summary-per-class p:not([class]) {
  line-height: 1.2 !important;
  font-size: 14px !important;
  color: var(--green) !important;
}
